/* Root variables */
:root {
    --primary-color: #353431;
    --primary-color-highlight: #FF5100;
    --secondary-color-highlight: #FF8F5C;
    /* Bootstrap overrides */
    --bs-body-bg: #f5f5f5;
    --bs-body-font-family: 'Cambay', sans-serif;
}

/* General Styling */ 
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bs-body-bg);
    font-size: 18px;
}

main {
    min-height: 60vh;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5 {
    font-family: 'Mukta', sans-serif;
}

hr {
    color: var(--primary-color-highlight);
    background-color: var(--primary-color-highlight);
    opacity: 100%;
    height: 2px;
    width: 888px;
    margin: auto;
}

.text-primary-highlight {
    color: var(--primary-color-highlight);
}

.reset-icon {
    font-size: 60px;
    color: var(--primary-color-highlight);
}

/* Navbar */
nav {
    background-color: var(--primary-color);
}

.nav-link {
    color: #f5f5f5 !important;
}

.navbar-nav .nav-link.active {
    color: var(--primary-color-highlight) !important;
}

.nav-link:hover {
    color: var(--primary-color-highlight) !important;
}

.navbar-toggler {
    color: var(--primary-color-highlight) !important;
    border: none !important;
}

.jb-fit-link {
    text-decoration: none;
    color: var(--primary-color-highlight);
}

.jb-fit-link:hover {
    text-decoration: none;
    color: var( --secondary-color-highlight);
}

/* Bootstrap button override */
.btn-primary {
    background-color: var(--primary-color-highlight) !important;
    border: none;
}

.btn-primary:hover {
    background-color: #E04700 !important;
}

.content-container {
    min-height: 80vh !important;
}

/* Hero section */
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://ci-jb-fit.s3.eu-west-2.amazonaws.com/static/images/jb-fit-hero.webp') no-repeat center center;
    background-size: cover;
    height: 750px;
}

/* Feature section */
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.bg-primary {
    background-color: var(--primary-color-highlight) !important;
}

.card .link-primary {
    color: var(--primary-color-highlight) !important;
}

.card .link-primary:hover {
    color: #E04700 !important;
}

.border-primary {
    border-color: var(--primary-color-highlight) !important;
}

.text-bg-primary {
    background-color: var(--primary-color-highlight) !important;
}

.review-card {
    border:none;
    min-height: 384px;
    height: 468px;
}

.user-content {
    min-height: 245px;
    height: 330px;
}
.user-content p {
    font-size: 14px;
}

.user-image img {
    width: 30%;
}

.ratings i{
    color: var(--primary-color-highlight);
}

.client-reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url('https://ci-jb-fit.s3.eu-west-2.amazonaws.com/static/images/jb-fit-client-review.webp') no-repeat center center;
    background-size: cover;
}

footer {
    background-color: var(--primary-color);
    margin-top: auto !important;
}

.social-icon {
    color: var(--primary-color-highlight);
}

.icon-sm {
    width: 2.6875rem;
    height: 2.6875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

.about-text, .coach-desc {
    font-size: 1rem;
}

#quote {
    background-color: var(--primary-color);
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://ci-jb-fit.s3.eu-west-2.amazonaws.com/static/images/about-page-hero.webp') no-repeat center center;
    background-size: cover;
    height: 750px;
    margin-top: -80px;
}

#philosophy {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://ci-jb-fit.s3.eu-west-2.amazonaws.com/static/images/about-page-philosophy.webp') no-repeat center center;
    background-size: cover;
}

.card-title {
    margin: 0;
}

/* The alert message box */
.warning {
padding: 20px !important;
background-color: #FF9800 !important;
margin-bottom: 15px !important;
}

/* The close button */
.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closesuccessbtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.closeerrorbtn {
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeerrorbtn:hover {
    color: #ffffff;
}


/* When moving the mouse over the close button */
.closebtn:hover {
color: black;
}

.alert-success {
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
}

.alert-error, .alert-danger {
    color: #721c24 !important;
    background-color: #f8d7da !important;
    border-color: #f5c6cb !important;
}

.alert-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.alert-info {
    color: #0c5460 !important;
    background-color: #d1ecf1 !important;
    border-color: #bee5eb !important;
}

.text-primary-highlight {
    color: var(--primary-color-highlight);
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
}

.shadow-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media(max-width: 425px) {
    .user-content{
        margin-top: 45px;
    }
}

@media (min-width: 576px) {
    .about-text, .coach-desc {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .about-text {
        font-size: 1.5rem;
    }

    .user-content{
        margin-top: 45px;
    }
}

@media (min-width: 1200px) {
    .pt-card-desc {
        font-size: 16px !important;
    }
}

/*General Card Style*/
.jb-fit-card {
    background-color: #333333;
    border-radius: 10px;
    color: #ffffff !important;
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 20px;

}

.jb-fit-card-header {
    background: linear-gradient(to right, #ff5100, #FF8F5C);
    padding: 15px;
    text-align: center;
}

.jb-fit-card-header h5 {
    margin: 0;
    color: #ffffff;
    font-size: 1.2em;
}

.jb-fit-card-body {
    padding: 20px;
    background-color: #2e2e2e;
}

.jb-fit-card-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color-highlight);
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
}

.jb-fit-card-btn:hover {
    background-color: var(--secondary-color-highlight);
    color:#ffffff;
}

/* Reset Done Styling*/
.info-container{
    background-color: rgba(119, 136, 153, 0.208);
}

.info-text-container {
    max-width: 350px;
}

.reset-info-icon{
    font-size: 20px;
    color: var(--primary-color-highlight);
    margin-top: 20px;
}

.checkout-success-icon{
    font-size: 50px;
}

/* Plans Section */
.training-plans-find-out-more-container{
    background-color: var(--primary-color);
}