{% extends "base.html" %}
<!-- Extending the base template which includes the common layout structure -->

{% load static %}
<!-- Loading static files to use within this template, like images and CSS -->

{% block content %}
<!-- Start of the content block which will be inserted into the 'base.html' template -->

<div class="container-fluid d-flex justify-content-center align-items-center content-container">
    <!-- Main container with Bootstrap classes for full-width layout and centering the content both vertically and horizontally -->

    <div class="col-md-5">
        <!-- Column that adjusts to 5/12 of the container on medium and larger screens -->

        <div class="card jb-fit-card">
            <!-- Card component for displaying the weight log form -->

            <div class="card-header jb-fit-card-header d-flex flex-column align-items-center">
                <!-- Card header with flexbox for vertical alignment -->

                <div class="row">
                    <h5 class="card-title mb-2">Add Weight Log</h5>
                    <!-- Title for the weight log form with adjusted bottom margin for spacing -->
                </div>

                <div class="row">
                    <!-- Back button linking to the user's profile page -->
                    <a class="btn back-btn" href="{% url 'profile' %}" aria-label="Go back to your profile page">&larr; Back</a>
                </div>
            </div>            

            <div class="card-body jb-fit-card-body">
                <!-- Card body containing the form for adding a weight log -->

                <form method="post">
                    <!-- Form with POST method for submitting weight log data -->

                    {% csrf_token %}
                    <!-- CSRF token for security -->

                    <div class="form-group">
                        <!-- Form group for the weight input field -->
                        {{ form.weight.label_tag }}
                        <!-- Label for the weight input field -->
                        {{ form.weight }}
                        <!-- Input field for the weight log -->
                    </div>

                    <!-- Submit button to save the weight log -->
                    <button type="submit" class="btn btn-primary mt-2 w-100 bg-gradien">Save</button>
                    <!-- Note: Typo in class 'bg-gradien' should be 'bg-gradient' for correct styling -->
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- End of the content block -->
