{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center content-container">
    <div class="col-md-8 col-xl-5">
        <div class="card mb-4 jb-fit-card">
            <div class="card-header jb-fit-card-header">
                <h5 class="card-title signup-heading text-center">Logout</h5>
            </div>
            <div class="card-body jb-fit-card-body">
                <p>Are you sure you want to log out?</p>
                <p><small>This action will end your current session.</small></p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mt-2 bg-gradient mx-2">Logout</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary bg-gradient mt-2" aria-label="Cancel and return to the home page">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}