{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center content-container">
    <div class="col-md-5">
        <div class="card mb-4 jb-fit-card">
            <div class="card-header jb-fit-card-header">
                <h5 class="card-title signup-heading text-center">Change Password</h5>
            </div>
            <div class="card-body jb-fit-card-body">
                <p class="text-center">Your password is now changed!</p>
                <div class="text-center mt-3">
                    <a class="btn btn-primary mt-2 w-100 bg-gradient" href="{% url 'account_login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
