{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="container d-flex justify-content-center align-items-center password-reset-form content-container">
    <div class="col-md-5">
        <div class="card mb-4 jb-fit-card">
            <div class="card-header jb-fit-card-header">
                <h5 class="card-title text-center">Reset Password</h5>
            </div>
            <div class="card-body jb-fit-card-body">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <!-- Email address -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
                    </div>
                    <!-- Email address validation -->
                    {% if form.email.errors %}
                        <div class="alert alert-danger py-1 my-1">
                            {% for error in form.email.errors %}
                                <p class="mb-0">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input type="submit" class="btn btn-primary mt-2 w-100 bg-gradient" value="{% trans 'Reset My Password' %}">
                </form>
                <div class="text-center mt-3">
                    <a class="button mt-5 jb-fit-link" href="{% url 'account_login' %}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
