{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>
    <div class="container d-flex justify-content-center align-items-center h-100 signup-form">
        <div class="col-md-5">
            <div class="card mb-4 jb-fit-card">
                <div class="card-header jb-fit-card-header">
                    <h5 class="card-title signup-heading text-center">Reset your password</h5>
                </div>
                <div class="card-body jb-fit-card-body">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="password1" class="form-label">New password</label>
                            <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" id="password1" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm password</label>
                            <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" id="password2" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
                        </div>
                        <input type="submit" class="btn btn-primary mt-2 w-100 bg-gradient"  name="action" value="{% trans 'Change password' %}"/>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
