{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center h-75">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="signup-heading text-center">Sign up</h2>
            <form method="post" action="{% url 'account_signup' %}" class="needs-validation" novalidate>
                {% csrf_token %}
                
                <div class="form-group mt-3">
                    {{ form.first_name.label_tag }} {{ form.first_name }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group mt-3">
                    {{ form.last_name.label_tag }} {{ form.last_name }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.gender.label_tag }} {{ form.gender }}
                    <div class="invalid-feedback">
                        {% for error in form.gender.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.email.label_tag }} {{ form.email }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.password1.label_tag }} {{ form.password1 }}
                    <div class="invalid-feedback">
                        {% for error in form.password1.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                <div class="form-group mt-3">
                    {{ form.password2.label_tag }} {{ form.password2 }}
                    <div class="invalid-feedback">
                        {% for error in form.password2.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary mt-4 w-100">Sign up</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
