{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block corecss %}
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

            <!-- Base CSS -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">

            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        {% endblock %}

        {% block corejs %}
            <!-- Bootstrap JS -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
            <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
            <!-- Fontawesome -->
            <script src="https://kit.fontawesome.com/c649b17804.js" crossorigin="anonymous"></script>
            <!-- Chart -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        {% endblock %}

        <title>JB Fit</title>
    </head>
    <body>
        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{{ MEDIA_URL }}jb-fit-logo.webp" alt="Online Personal Coaching Logo" width="100" height="45">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'plans' %}">Plans</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Community</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="py-3 mt-4" id="footer">
            <div class="container">
                <div class="social-links fs-3 text-center border-bottom pb-3 mb-3">
                    <a class="social-icon" href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a class="social-icon" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social-icon" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                    <a class="social-icon" href="https://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="social-icon" href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6 my-3 text-center text-xl-start">
                        <h5 class="text-primary-highlight mb-3">Quick Links</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-1 text-body-secondary">Home</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-body-secondary">About</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-body-secondary">Plans</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-body-secondary">FAQ</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-1 text-body-secondary">Community</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-lg-5 col-xl-5 offset-xl-1 my-3">
                        <form method="post">
                            {% csrf_token %}
                            <h5 class="text-primary-highlight text-center text-xl-start">Subscribe to our newsletter</h5>
                            <p class="text-white text-center text-xl-start">Monthly news of everything going on in the fitness world.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter1" class="visually-hidden">Email address</label>
                                <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                                <button class="btn btn-primary bg-gradient" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col text-center mt-3">
                        <p class="mb-0 text-white">&copy; 2024 JB Fit. All rights reserved.</p>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a href="#" class="nav-link pr-5 text-white">Privacy Policy</a></li>
                            <li class="nav-item"><a href="#" class="nav-link text-white">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        {% endblock %}
    </body>
</html>