<!-- Interested in Finding Out More Section -->
<section class="my-5 py-5" id="contact">
    <!-- Section for contacting with margin and padding for spacing -->

    <div class="container">
        <!-- Container to center and constrain the content -->

        <div class="text-center mb-4">
            <!-- Centered text block with bottom margin for spacing -->

            <h2 class="display-5 fw-bold text-body-emphasis">Interested in finding out more?</h2>
            <!-- Section title with bold styling -->

            <p class="lead">Fill out the short form below, and I’ll get back to you ASAP</p>
            <!-- Lead paragraph encouraging users to fill out the form -->

            <p class="text-secondary">
                <small>
                    Please take a look at my 
                    <a class="text-decoration-none" href="{% url 'faq' %}" aria-label="Read the FAQ section to learn about prices, availability, plans, check-ins, and more">
                        FAQ
                    </a> 
                    before submitting your enquiry - It covers prices, availability, plans, check-ins and much more
                </small>
            </p>
            <!-- Small text suggesting users read the FAQ before submitting an enquiry, with a link to the FAQ page -->
        </div>        

        <div class="row justify-content-center">
            <!-- Row with centered alignment for the contact form -->

            <div class="col-md-8">
                <!-- Column that spans 8 out of 12 grid columns on medium and larger screens -->

                <form method="POST" action="{% url 'contact_coach' %}">
                    <!-- Contact form with POST method and action URL pointing to 'contact_coach' -->

                    {% csrf_token %}
                    <!-- CSRF token for security -->

                    {{ contact_form.as_p }}
                    <!-- Render the contact form fields with paragraph tags -->

                    <div class="text-center pt-5">
                        <!-- Centered submit button with padding on top for spacing -->

                        <button type="submit" class="btn btn-primary bg-gradient btn-lg w-50">Submit</button>
                        <!-- Submit button with Bootstrap classes for styling and width control -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
