{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="my-5 pb-5 py-xl-8" id="training-plans">
    <div class="container">
        <h1 class="fw-bold display-4 text-center text-body-emphasis plan-title">Training Plans</h1>
        <p class="lead py-3">At JB Fit, I offer a range of personalized fitness services designed to help you achieve your health and fitness goals. Whether you're just starting your fitness journey or looking to take your training to the next level, there's a package that's right for you.</p>
        <ul class="list-group">
            {% for plan in plans %}
            <li class="list-group-item mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="my-0 fw-normal">{{ plan.name }}</h4>
                        <p class="mb-1">{{ plan.description }}</p>
                        <h5 class="mb-0">£{{ plan.price }}</h5>
                    </div>
                    <form action="{% url 'checkout' plan.id %}" method="get" class="ml-auto">
                        <button type="submit" class="btn btn-lg btn-primary bg-gradient">Checkout</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div> 
</section>

<section class="bg-custom py-5">
    <div class="container">
        <h2 class="text-center display-5 fw-bold mb-4">Why Choose My Plans?</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col">
                <div class="text-center">
                    <img src="{% static 'images/quality.webp' %}" alt="Certified expertise icon symbolizing over a decade of professional experience and multiple certifications in fitness coaching." class="feature-icon mb-3">
                    <h4>Expertise</h4>
                    <p class="text-secondary">With over a decade of experience and multiple certifications, I bring professional expertise to your fitness journey.</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="{% static 'images/customization.webp' %}" alt="Customized plan icon representing tailored fitness plans designed to match individual goals, fitness level, and lifestyle." class="feature-icon mb-3">
                    <h4>Customization</h4>
                    <p class="text-secondary">Each plan is tailored to your specific goals, fitness level, and lifestyle, ensuring you get the best results.</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="{% static 'images/support.webp' %}" alt="Continuous support icon representing regular check-ins, community engagement, and 24/7 assistance for ongoing motivation." class="feature-icon mb-3">
                    <h4>Support</h4>
                    <p class="text-secondary">Receive continuous support and motivation through regular check-ins, community engagement, and 24/7 assistance.</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="{% static 'images/task.webp' %}" alt="Results icon symbolizing clients' successful transformation, achievement of fitness goals, and long-term health maintenance." class="feature-icon mb-3">
                    <h4>Results</h4>
                    <p class="text-secondary">My clients have successfully transformed their lives, achieving their fitness goals and maintaining long-term health and wellness.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Interested in Finding Out More Section -->
{% include 'contact/contact_form.html' %}
{% endblock %}