/* Profile Image Section*/
.profile-header {
    background-color: var(--primary-color);
    padding: 2rem;
    border-bottom: 1px solid #e9ecef;
}
.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/*Profile Details Section*/

#weightLogsTable {
    width: 100%;
    color: #ffffff;
    border-collapse: collapse;
}

#weightLogsTable th, td{
    padding: 10px;
    text-align: left;
    color: #ffffff !important;
    border-bottom: 1px solid #444444;
}

canvas {

    align-self: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.progress-picture-container {
    max-height: 500px
}
.upload-progress-picture-form {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #444444;
    color: #ffffff;
}

.gallery {
    margin-top: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
    min-height: 100%; /* Ensures the image doesn't exceed its container's width */
    min-width: 100%;
    height: auto; /* Maintains the aspect ratio */
    object-fit: cover; /* Ensures the image scales nicely within the given dimensions */
    border-radius: 8px; /* Keeps the rounded corners */
}

.edit-profile-btn{
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color-highlight);
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
}

.edit-profile-btn:hover {
    background-color: var( --secondary-color-highlight);
    color:#ffffff;
}

.back-btn{
    text-decoration: none;
    color: #ffffff;
}

.back-btn:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.btn-delete-picture {
    top: 10px;
    right: 30px;
}

#order-history-table {
    color:#ffffff;
}


.order-history-container {
    max-height: 500px;
}